.titulo{
    text-align: center;
    text-decoration: none;
    color: black;
    text-decoration: underline;
}


.NavBar{
    display: flex;
    justify-content: space-between;
}

li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    text-decoration: underline;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(170, 168, 168);
}

.navLink{
    text-decoration: none;
    color: black;
}